html {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1, a{
  font-family: 'Courier New', Courier, monospace;
}

#app * {
  z-index: 2;
}

:root{
  --app-background : #cccccc;
  --profile-section-bg : #0e1624;
  --profile-section-bg-hover: #172338;  
  --phone-bg-color : #242424;
  --phone-bg-input-color : #404040;

  --second-game-room-main-color : #282539;
  --second-game-room-minor-color:#45435D;
  --game-room-main-color:#191820;

}


.prelogin-wrapper{
  background-color: #24262b;
  width:50%;
  height:25rem;
  min-width:20rem;
  max-width:30rem;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:100rem;
  border-radius: 20px;
  padding:0;
  box-shadow:0px 0px 10px 1px black;

  position:relative;
  top:3rem;

}

.prelogin-wrapper form{
  display: flex;
  flex-direction: column;
  width:80%;
  max-width:25rem;
}

.prelogin-wrapper form input{
  outline: none;
  background: none;
  border-left:none;
  border-right:none;
  border-top: none;
  border-bottom:1px solid white;
  margin-bottom: 2rem;
  color:white;
}


.prelogin-wrapper a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.prelogin-wrapper form button{
  width:50%;
  margin:0 auto;
}

.prelogin-wrapper button, .prelogin-wrapper a{
  width:80%;
}

.prelogin-wrapper button{
  border-radius: 0px;
  height: 2.3rem;
  margin-bottom:1rem;
  border:none;
  background-color: #198235;
  color:white;
}

.prelogin-wrapper button{
  background-color: #125724; 
  transform:scale(1.1);
}

.prelogin-wrapper .error-message{
  color:red;
  position:absolute;
  font-size:0.6rem;
  top:44%;
  left:10%;
}

.title{
  color:white;
  font-size:2.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.copyright{
  color:white;
  font-size:0.7rem;
  position:absolute;
  bottom:0.6rem;
  opacity:0.3;
}


#app, .overlay, #game-room{

  max-width:1920px;
  max-height:1000px;
  margin: 0 auto;

  overflow-y:scroll;
  overflow-x:hidden;
  
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  background-color: var(--app-background);
  height:auto;
  width:100%;

  z-index: 1;

  display:flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  white-space: nowrap;

}


#profile{
  height:113%;
  width:20%;
  max-width:18rem;
  min-width:15rem;
  background-color: var(--profile-section-bg);

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position:relative;
  /* padding-left:1rem; */
}

#profile h1, #profile a{
  color:white;
  font-size: 1.25rem;
}

.profile-badge{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  gap:1.5rem;

  padding-left:1.5rem;
  margin-top:5.5rem;
}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.5rem
}

.profile-trophies h1{
  margin-top:0;
}

.profile-info h1{
  margin-bottom:0;
}


.profile-icon{
  height:5rem;
  width:5rem;
  background-color: var(--app-background);
  border-radius:50%;
}

.profile-trophies{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:1.5rem;
}

.trophies{
  height:15px;
  width:15px;
  background-color: orange;
}


.profile-achievement{
  width:100%;
  height:130px;
  margin-top:1.3rem;

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-rank, .profile-leaderboard{
  height:90%;
  width:6rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-leaderboard{
  position: relative;
}

.profile-rank h1{
  font-size:.9rem !important;
}

.rank-badge{
  height:50px;
  width:50px;
}

.leaderboard-player-badge{
  height:3rem !important;
  width:3rem !important;
}

.leaderboard-badge{
  height:80px;
  width:80px;  
  border-radius: 50%;
  position:relative;
}

.friend-list{
  margin-top:2rem;
  width:100%;
  text-align: left;
  position:relative;
  border:none;
  display:flex;
  align-items: center;
  background-color: var(--profile-section-bg);
}

.friend-list:hover{
  background-color: var(--profile-section-bg-hover);
}

.friend-list h1{
  font-size:.9rem !important;
  margin-left:.5rem;
}

.friend-icon{
  height:10px;
  width:10px;
}

.log-out{
  color:red !important;
  font-weight: bold;
  position:absolute;
  top:10.8rem;
  left:.85rem;
  align-self: flex-start;
  margin-left:1rem;
  font-size:.7rem !important;
}



#main-dashboard{
  width:92%;
  height:100%;
}

#dashboard-nav{
  height:4rem;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:2rem;
  padding:0 2rem;
}

.nav-button-create-room{
  border:none;
  background-color: var(--app-background);
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-button-create-room:hover{
  color:red;
  border-bottom:2px solid red;
}


#dashboard-body{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
}

#room-menu{
  width:55%;
  height:100%;
  font-size:0.6rem;  
  padding:0 1rem;
}

#room-menu span{
  font-weight: bold !important;
  color:red !important;
}

#room-menu h1{
  margin-left:0rem;
} 

.room-button{
  height:8rem;
  width:90%;
  background-color: white;
  border-radius:3px;
  box-shadow:0px 0px 3px 0px black;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position:relative;
}

.room-button img{
  height:1.1rem;
  width:1.1rem;
  margin-right:.5rem;
}

.room-button h1{
  margin:0;
  font-size:.9rem;
}

.room-button h1:first-child{
  margin-bottom:.3rem;
}

.room-button button{
  margin-top:2rem;
  height:2rem;
  width:50%;
  background-color: green;
  color:white;
  border:none;
  font-weight: bold;
  font-size:.75rem;
}

.room-button img:last-child{
  position:absolute;
  top:68%;
  right:.5rem;
}

.room-info div:first-child{
  display: flex;
  flex-direction: row;
}

.horizontal-description{
  display: flex;
  flex-direction: row;
  margin-top:.2rem;
  width:100%;
}

.horizontal-description div{
  display:flex;
  flex-direction: row;
}

.room-info{
  justify-content: space-around;
}

.room-list{
  display:grid;
  height:90%;
  grid-template-columns: repeat(2, 50%);
  gap:1rem;
  column-gap: .3rem;
  overflow-y:scroll;
  justify-content: space-between;
  padding:.5rem .2rem;
  margin:0 auto;
}

#chat{
  height:100%;
  width:100%;
  margin-right:1rem;


}

.chat-wrapper{
  position:relative;  
  margin:0 auto;
  padding:0;
  height:37rem;
  width:80%;
  min-width:30rem;
  background-color:  var(--phone-bg-color);
  border-radius:2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow:0px 0px 4px 0px black;
}

.chat-screen{
  border-radius: 2rem;
  width:98%;
  height:33rem;
  background-color: white;
  
  position:absolute;
  bottom:0;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap:1rem;
  overflow-y: scroll;
  padding: .4rem .3rem;
  color:black;
}

.chat-user-wrapper{
  width:70%;
  height:auto;
  display: flex;
  flex-direction: row;
}

.chat-detail-wrapper{
  height:100%;
  width:auto;
  max-width:80%;
  word-wrap: break-word;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  color:black;
  flex-shrink: 0;    
}


.chat-detail-wrapper h1{
  color: black !important;
  margin:0;
  margin-bottom:.2rem;
}

.chat-profile-icon{
  height:3.5rem;
  width:3.5rem;
  resize:none;
  display:table;
  flex-shrink: 0;  
}

.chat-box{
  background-color: green;
  width:100%;
  padding:.5rem;
  border-radius:.6rem;
}


.chat-input-wrapper{
  box-shadow:0px 0px 4px 0px black;
  height:5rem;
  width:80%;
  min-width:30rem;
  margin:0 auto;
  margin-top:1rem;
  background-color: var(--phone-bg-color);  
  border-radius:1rem;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.chat-input-wrapper input[type=text]{
  width:65%;
  height:55%;
  margin-right:1rem;
  border-radius:.5rem;
  border:none;
  background-color: var(--phone-bg-input-color);
  color:white;  
}

.chat-input-wrapper button{
  height:60%;
  width:3rem;
  border-radius: 50%;
  border:none;
  background-color: var(--phone-bg-input-color);
  color:#dedede;  
}

.chat-wrapper h1{
  font-size:1rem;
  color:white;
}

.submenu{
  z-index:6 !important;
  height:55%;
  width:50%;
  background-color: white;
  position:absolute;
  top:8%;
  left:28%;
  bottom:0;
  box-shadow:0px 0px 3rem 0px black;

  display:flex;
  flex-direction: column;
  align-items: center;
  padding:.3rem 3rem;
}

.submenu-title{
  align-self: flex-start;
  font-size:1.8rem;
}

.overlay{
  height:1000rem;
  width:1000rem;
  background-color: black;
  opacity:0.5;
  z-index:5 !important;
}

.exit-button, .endpoint-create-room input[type=submit]{
  height:2rem;
  border:none;
  font-weight: bold;
}

.exit-button{
  background-color: red;
  color:white;
}


.leaderboard-exit-button{
  height:1.5rem;
  width:1.5rem;
  position: absolute;
  right:.5rem;
}

.leaderboard-div{
  padding-left:1rem;
  padding-right: 1rem;
  overflow-y: scroll;
}

.endpoint-create-room input[type=submit]{
  background-color: green;
  color:white;
} 

.profile-leaderboard p{
  position:absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  color:red;
  text-shadow: 1px 1px 3px yellow;
  font-weight: bold;
}



.profile-leaderboard p:nth-child(2){
  font-size:4rem;
  top:-50px;
  left:26px;
  right:auto;
  /* background-color: red; */
}

.profile-leaderboard p:nth-child(3){
  left:4px;
  top:65px;
}

.toppers-list{
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  gap:0rem;
  overflow-x: hidden;
}

.leaderboard-card{
  width:100%;
  height:80px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left:1rem;
  margin-bottom:1px solid black !important;
  position:relative; 
}

.leaderboard-point-div{
  height:100%;
  width:7rem;
  justify-self:flex-end;
  position: absolute;
  right:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaderboard-point-div p{
  margin:0;
}

.endpoint-create-room{
  align-self: flex-end;
  gap:1rem; 
}

.create-room-card form{
  width:100%;
  display: flex;
  flex-direction: column;
}

.create-room-card{
  height:30%;
}

.room-password-input-card{
  height:20%;
  width:20%;
  background-color: white;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding:3rem;
}

.password-input-img{
  height:3rem !important;
  width:3rem !important;
}

.password-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:1rem;
  gap:1rem;
  width:80%;
}

.password-form input[type=password]{
  width:100%;
}

.password-form button[type=submit]{
  width:50%;
}

.room-name-input{
  border:none;
  border-bottom:1px solid #34306b;
  width:100%;
  height:1.7rem;
  font-size: 1.1rem;
}

.wrong-password{
  height:2rem;
  width:102%;
  background-color: #f5beba;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.wrong-password p{
  color:red;
  font-size:.8rem;
  margin-left:.1rem;
}

label.error-message{
  color:red;
  position:absolute;
  font-size:.75rem;
}

.error-invalid-name{
  top:6.8rem;
}

.error-invalid-player-count{
  top:7.85rem;
  left:12.5rem;
}

.create-room-password{
  display:flex;
  flex-direction: column;
}

.create-room-password div label:first-child{
  margin:0;
}

.create-room-password input[type=password]{
  background-color: none;
}

label.submenu-form-label, .horizontal-create-room-description{
  margin-top:1rem;
}

.bigger-create-room-icon{
  height:2rem;
  width:2rem;
  margin-right:.5rem;
}

.horizontal-create-room-description{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height:auto;
}

.password-setting-wrapper{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

.horizontal-create-room-description h1, .horizontal-create-room-description label{
  margin:0;
  margin-left:.5rem;
}

.submenu img{
  width:1rem;
  height:1rem;
}

.multichoice-input{
  display: flex;
  flex-direction: row;
  gap:1rem;
  height:1.9rem;
  margin-top:.3rem;
}

.multichoice-input input[type=button]{
  height:1.9rem;
  width:1.9rem;
  border-radius: 50%;
  background-color: #34306b;
  color:white;
  border:none;
}

#game-room{
  background-color: var(--game-room-main-color);
  display:flex;
  justify-content: center;
  align-items: center;
}

.game-page{
  width:70%;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

.game-chat{
  width:30%;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  padding-top: 2.5rem;
  align-items: center;  
  z-index:1 !important;
  position: absolute;
  right:0;
}

#game-room-nav{
  width:97%;
  height:4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding : 0 2rem;
}

#game-room-nav h1{
  font-size:1rem;
  color:white;
}

#game-room-nav img{
  height:2rem;
  width:2rem;
}

#game-room-body{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  color:white;
}

.game-multielement-nav-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100%;
  width:auto;
  gap:1rem;
  color:white;
}

.game-multielement-nav-div button:first-child{
  background-color: #35732e;
  color:white;
  font-weight: bold;
  font-size:.9rem;
  border:none;
  border-radius: 10px;
  height:2rem;
  width:8rem;
}

.game-multielement-nav-div button:nth-child(2){
  color:white;
  background-color: #313042;
  font-weight: bold;
  font-size:1rem;
  border:none;
  border-radius: 50%;
  height:1.5rem;
  width:1.5rem;  
} 


.game-map{
  background-color: aqua;
  width:80%;
  height:45%;
  position:relative;
}

.game-map button{
  position:absolute;
  height:3rem;
  width:3rem;
  font-size:2rem;
  font-weight: bold;
  background-color: none;
  background: none;
  border:none;
  border-radius:50%;
  top:45%;
} 

.skill{
  z-index:7;
}

.skill img{
  height:100%;
  width:100%;
}

.game-map button:hover{
  background-color: white;
}

.map-carousel-right{
  right:0px;
}

.game-map img{
  height:100%;
  width:100%;
}

.room-player-list{
  width:80%;
  height:15%;
  margin-top:2rem;
  display:flex;
  gap:1rem;
  flex-direction: row;
  justify-content: flex-start;

}


.player-card{
  height:100%;
  width:7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  color:white;
}

.player-card p{
  margin:0;
}

.player-profile-picture{
  height:80%;
  width:100%;
  background-color: white;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.game-profile-picture{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  overflow: hidden;  
}

.game-profile-picture img{
  height:2rem;
  width:2rem;
  position:absolute;
  top:-0.1rem;
  right:.2rem;
}

.profile-picture-head, .profile-picture-body{
  background-color: #2d2e42;
  border-radius:50%;
  position:absolute;

}

.profile-picture-head{
  height:3rem;
  width:3rem;
  top:0.5rem;
}

.profile-picture-body{
  height:6.5rem;
  width:6.5rem;
  top:4rem;
}


.game-chat-box{
  background-color: var(--second-game-room-main-color);
  height:90%;
  width:90%;
  max-height:44rem;
  display:flex;
  flex-direction: column;
}

.game-chat-box div{
  width:100%;
  color:white;
}

.game-chat-box h1{
  font-size:1rem;
  margin:0;
}

.game-chat-header{
  height:10%;
  flex-direction: row;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position:relative;
}

.game-chat-header h1{
  margin-left:1rem;
}


.game-chat-screen{
  height:78%;
  overflow-y: scroll;
  overflow-x: hidden;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
}

.game-chat-input-section{
  height:12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:.2rem solid var(--second-game-room-minor-color);
}

.game-chat-input-section form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
  color:white;

}

.game-chat-input-section input[type=text]{
  width:75%;
  height:3rem;
  background-color: var(--second-game-room-minor-color);
  border:none;
  color:white;  
}

.game-chat-input-section button[type=submit]{
  width:3rem;
  height:3rem;
  border-radius: 50%;
  background-color: var(--second-game-room-minor-color);
  border:none;
  color:white;  
}

.game-chatbox-wrapper{
  width:100%;
  height:4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left:1rem;
  gap:1rem;
}



.game-chatbox-detail-wrapper{
  width:70%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.game-pfp{
  height:3rem;
  width:3rem !important;
}

.game-chat-box-detail-wrapper{
  font-size:1rem;
}

.game-player-chat-box{
  height:auto;
  width:auto !important;
  max-width:80%;
  word-wrap: break-word;
  white-space: pre-line;  
  background-color: green;
  padding:.5rem;
  border-radius:5px;
}

#game{
  height:44rem;
  width:100%;
  margin:0 auto;
  margin-bottom:16.5rem;
  display:flex;
  flex-direction: row;
}

.open-chat{
  height:3rem;
  width:3rem;
  border-radius:50%;
  background-color: var(--second-game-room-minor-color);
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  margin: 0 auto;
  left:1%;
  top:6px;
  box-shadow: 0px 0px 5px 0px black;
}

.open-chat img{
  height:1.4rem;
  width:1.4rem;
}

.close-chat{
  background-color: var(--second-game-room-minor-color);
  border:none;
  color:white;
  font-size:1.3rem;
  font-weight: bold;
  border-radius: 50%;
  width:2rem;
  height:2rem;

  position:absolute;
  right:1rem;
}

#game{
  display: flex;
  flex-direction: column;
}

#game div{
  width:80rem;
  margin:0 auto;
}

.ingame-player-status-wrapper{
  height:auto;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:1rem;
  margin-bottom:.7rem !important
}

.player-status{
  color:white;
}

.game-tools{
  height:39.5rem;
  display: flex;
  flex-direction: row;
}

#game-canvas{
  height:100%;
  width:93%;
  background-color: white;
  position:relative;
  z-index:7;
}

.game-end{
  position:absolute;
  background-color: none;
  text-align: center;
  left:-3%;
  z-index:8;
}

.player-dead{
  top:40%;
}

.last-survivor{
  top:48%;
} 

.return-button{
  height:1.5rem;
  width:10rem;
  color:white;
  background-color: #2e302e;
  border:1px solid grey;
}

#player-utilities{
  width:7%;
  height:100%;
  position: relative;
} 

#mana-bar{
  position: absolute;
  transform: rotate(270deg);
  width:5rem;
  height:20px;
  background-color: yellow;
  margin:0 !important; 
  top:2rem;
  right:2rem;
} 


.page-1, .page-3{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} 

.page-3 h1{
  font-size:1.5rem;
  margin-left:2rem;
}

.page-3{
  align-items: flex-start;
}



.page-2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indicator-text{
  position: absolute;
  font-size:.7rem;
}

.page-2 img{
  height:75%;
  width:90%;
}

.control{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:18rem; 
  margin-top:14rem;
  text-align: center;  
}


.control p{
  text-align: center;
  font-weight: bold;
}

.control span{
  font-weight: 100;
}

.keyboard{
  width:12rem;
  height:12rem;
}

.mouse{
  width:12rem;
  height: 12rem;
}

.manual-control{
  width:100%;
  height:3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10rem;
}

#player-utilities div{
  display: flex;
  flex-direction: column;
  gap:1rem;
}


.ingame-player-card{
  margin-top:0 !important;
  margin-left:0 !important;
  margin-bottom : 0 !important;
  height:60px;
  width:10rem !important;
  background-color:none;
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:.1rem;
  padding:0 .5rem;
  background-color: var(--second-game-room-main-color);
}

.not-self-player{
  display:flex;
  width:78.25% !important;

}

.self-player{
  display:flex;
  width:21.75% !important;
}

.ingame-player-card .profile-icon{
  height:50%;
  width:20% !important;
}

.ingame-player-card div:last-child{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:75% !important;
}

.ingame-player-card div:last-child p{
  margin:0;
  width:100%;
  text-align: center;
}

.player-health{
  width:100% !important;
  height:20px;
  background-color: red;
  margin:0 !important;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);  
  display:flex;
}


.health-bar{
  background-color: green;
  margin:0 !important;
}


.game-overlay{
  height:100%;
  width:100%;
  position:absolute;
  opacity: .5;
}


#player-utilities{
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start !important;
  margin-left:.7rem;
  gap:1rem;
}

.mana-wrapper{
  display: flex;
  flex-direction: column;
}

.mana-wrapper h1{
  font-size:1rem;
}

#manual{
  background-color:#ededed;
  height:30rem;
  width:50rem;
  z-index : 7;
  position:absolute;
  left:24%;
  bottom:40%;

}

.manual-section{
  width:90%;
  height:100%;
  margin:0 auto;
} 

.manual-carousel-slider{
  position: absolute;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top:42%;
} 

.manual-carousel-slider button{
    height:3.5rem;
    width:3.5rem;
    background:none;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    background-color: none;
    border:none;
    border-radius: 50%;
}

.manual-carousel-slider button:hover{
  background-color: grey;

}

.skill{
  height:3rem;
  width:3rem;
  border-radius: 50%;
}

#map-canvas{
  width:100%;
  height:100%;
}

.skill-list{
  height: 5rem;
  width:100%;
  display: grid;
  grid-template-columns: repeat(5, 20%); 
  margin:0 auto;
  margin-top:3rem;
}

.skill-damage-info{
  display: flex;
  flex-direction: row;
}

.skill-damage-info *{
  margin:0;
}

.skill-damage-info img{
  height:1rem !important; 
  width:1rem !important;
}

.skill-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-info img{
  height:3rem;
  width:3rem;
}

.page-3 button{
  position:absolute;
  bottom:10px;
  left:39%;
  margin: 0 auto;
  width:10rem;
  height:3rem;
  background-color: green;
  color:white;
  border:none;
  border-radius: 5px;
  font-weight: bold;
}


@media screen and (max-width:1350px){
  .room-list{
    grid-template-columns: 100%;
  }
}

@media screen and (max-width:1050px){

  body{
    overflow-y: scroll !important;
  }

  #app{
    overflow-y: hidden;
    flex-direction: column;
    height:auto;
    width:100%;
  }

  #profile{
    width:100%;
    max-width:none;
    min-width:none;
    height:6.5rem;
    padding-top:.2rem;
    padding-bottom:1rem;
    flex-direction: row;
  }

  .profile-badge{
    width:auto;
    margin-top:.4rem;
  }

  .profile-achievement{
    width:auto;
  }

  .friend-list{
    margin-left:3rem;
    width:auto;
  }

  .log-out{
    align-self: center;
    top:85%;
    left:1.55rem;
  }

  #main-dashboard{
    width:100%;
    height:100%;
  }


}

@media screen and (max-width:750px){

  #app{
    overflow-y:scroll;
  }

  #room-menu{
    width:100%;
    height:20rem;
  }

  #chat{
    height:auto;
    margin-top:8rem;
  }
  

  #dashboard-body{
    flex-direction: column;
  }


  .room-list{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width:590px){
  .friend-list h1{
    display:none;
  }
}

@media screen and (max-width:530px){
  .chat-input-wrapper, .chat-wrapper{
    width:90%;
    min-width:15rem;
  }
}

@media screen and (max-width:450px){
  .room-list{
    grid-template-columns: 100%;
  }
}

@media screen and (max-width:350px){
  .prelogin-wrapper{
    width:90%;
    min-width: 0px;
  }

  .copyright{
    left:5%;
    text-align: center;
  }
}